{% extends './base.html' %}
{% load static %}

{% block content %}
<body class="mt-5">
    <div id="carousel" class="text-center carousel-main-home p-2">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active bg-dark"></li>
                <li data-target="#carouselExampleSlidesOnly" data-slide-to="1" class="bg-dark"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                        <img src="{% static 'images/Main.png' %}" id="1" class=" carousel-main-home-img" style="border-radius: 2px"/>
                </div>
                <div class="carousel-item">
                        <img src="{% static 'images/Main2.png' %}" id="2" class=" carousel-main-home-img" style="border-radius: 2px"/>
                </div>
            </div>
            <div class="carousel-caption d-md-block">
                <a style="text-decoration: none;">
                    <h5 id="id-main-info">Shop at Kechies!</h5>
                    <h6 id="id-main-info-body">"e be like Wondaland!"</h6>
                    <button type="button" class="btn rounded btn-outline-white btn-sm waves-effect" style="font-size: 10px">See Collections</button>
                </a>
            </div>
        </div>
    </div>

    <hr class="ml-4 mr-4"/>

    <div class="mt-4 ml-4 mr-4">
        <h6 class="text-center mt-4" style=" font-size: 20px; font-family: Forum">COMING SOON!</h6>
        <div class="row row-cols-2 row-cols-md-4">
        {% for a in product %}
            <div class="col mb-4">
                <div class="card">
                    <img src="{{ a.image.url }}" class="card-img-top" alt="{{ a.name|title }}">
                    <div class="card-body">
                        <div class="card-title">
                            <h6 style="font-size: 10px">{{ a.name|title }}</h6>
                            <h6 style="color: pink; font-weight: 500; font-size: 10px;">₦ {{ a.price }}</h6>
                        </div>
                        <a class="card-title" href="{% url 'detail' a.id %}" style="color: black;">
                            <button class="btn btn-outline-success btn-sm" style="font-size: 10px;">View Product</button>
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col mb-4">
                <div class="card p-3">
                    <img src="{% static 'images/Main.png' %}" class="img-thumbnail card-img-top" alt="coming soon">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card p-3">
                    <img src="{% static 'images/Main2.png' %}" class="img-thumbnail card-img-top" alt="coming soon">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card p-3">
                    <img src="{% static 'images/Main.png' %}" class="img-thumbnail card-img-top" alt="coming soon">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card p-3">
                    <img src="{% static 'images/Main2.png' %}" class="img-thumbnail card-img-top" alt="coming soon">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <hr class="ml-4 mr-4"/>
    <div>
        <h6 class="text-center mt-4" style=" font-size: 20px; font-family: Forum">Why you should shop with us</h6>
        <div class="card-columns text-center" style="margin-top: 5px; margin-left: 10%; margin-right: 10%;">
        <div class="card border-dark mb-3" style="box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);">
          <div class="card-header">Search - Order - Pay on Delivery</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Easy peezy, all you need is find the product you like, order it and pay on delivery. It's easy and fast.</p>
        </div>
        </div>
        <div class="card border-dark mb-3" style="box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);">
          <div class="card-header">Free Budgeting Consultation</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Here at Kechies, we believe every customer works according to a budget plan and so we help you to find (advice you on) the right product at the right price for you just as it suits your budget for FREE!</p>
            </div>
        </div>
        <div class="card border-dark mb-3" style="box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);" >
          <div class="card-header">Fast Delivery</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Our products are delivered straight to you, anywhere at a very short time</p>
          </div>
        </div>
        </div>
    </div>

<h4 class="mb-5 mt-5 text-center" style="font-family: Forum; font-weight: 400;"># KECHIES EMPIRE</h4>
<!-- Footer -->
</body>
{% endblock %}
