{% extends './base.html' %}
{% load static %}

{% block content %}
<body class="mt-5">
    <div id="carousel" class="text-center mt-5 ml-5 mr-5">
<!--        <div class="row row-cols-1 row-cols-md-3 text-center mt-5">-->
<!--            <div class="col-md-2"></div>-->
<!--            <div class="col-md-8 text-center">-->
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active bg-dark"></li>
                        <li data-target="#carouselExampleSlidesOnly" data-slide-to="1" class="bg-dark"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                                <img src="{% static 'images/Main.jpg' %}" id="1" class="img-fluid" style="border-radius: 2px"/>
                        </div>
                        <div class="carousel-item">
                                <img src="{% static 'images/Main2.jpg' %}" id="2" class="img-fluid" style="border-radius: 2px"/>
                        </div>
                    </div>
                    <div class="carousel-caption d-md-block">
                        <a href="#allCat" style="text-decoration: none;">
                            <button type="button" class="btn btn-outline-light btn-sm" style="font-size: 16px">Shop All Products</button>
                        </a>
                    </div>
                </div>
<!--            </div>-->
<!--            <div class="col-md-2"></div>-->
<!--        </div>-->
    </div>
    <hr class="ml-4 mr-4"/>
    <div id="allCat">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row row-cols-1 row-cols-md-4 m-4">
                        <div class="col">
                            <div class="card p-2 ">
                                <img src="#" alt="All Bags"/>
                                <button class="btn btn-outline-dark">View All Bags</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Jewelries"/>
                                <button class="btn btn-outline-dark">View All Jewelries</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Shoes"/>
                                <button class="btn btn-outline-dark">View All Shoes</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Accessories"/>
                                <button class="btn btn-outline-dark">View All Accessories</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                    </div>
                </div>
<!--        <h4>All Bags Section</h4>-->
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 m-4">
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Bags"/>
                                <button class="btn btn-outline-dark">View All Bags</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Female Bags"/>
                                <button class="btn btn-outline-dark">View All Female Bags</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
                    <div class="card p-2">
                        <img src="#" alt="All Male Bags"/>
                        <button class="btn btn-outline-dark">View All Male Bags</button>
            <!--            <h5 class="card-title"></h5>-->
                    </div>
                </div>
                    </div>
                </div>
<!--        <h4>All Jewelries Section</h4>-->
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 m-4">
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Jewelries"/>
                                <button class="btn btn-outline-dark">View All Jewelries</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Female Jewelries"/>
                                <button class="btn btn-outline-dark">View All Female Jewelries</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
            <div class="card p-2">
                <img src="#" alt="All Male Jewelries"/>
                <button class="btn btn-outline-dark">View All Male Jewelries</button>
    <!--            <h5 class="card-title"></h5>-->
            </div>
        </div>
                    </div>
                </div>
<!--        <h4>All Accessories Section</h4>-->
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 m-4">
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Accessories"/>
                                <button class="btn btn-outline-dark">View All Accessories</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Female Accessories"/>
                                <button class="btn btn-outline-dark">View All Female Accessories</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
            <div class="card p-2">
                <img src="#" alt="All Male Accessories"/>
                <button class="btn btn-outline-dark">View All Male Accessories</button>
    <!--            <h5 class="card-title"></h5>-->
            </div>
        </div>
                    </div>
                </div>
<!--        <h4>All Shoes Section</h4>-->
                <div class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-3 m-4">
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Shoes"/>
                                <button class="btn btn-outline-dark">View All Shoes</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-2">
                                <img src="#" alt="All Female Shoes"/>
                                <button class="btn btn-outline-dark">View All Female Shoes</button>
                    <!--            <h5 class="card-title"></h5>-->
                            </div>
                        </div>
                        <div class="col">
            <div class="card p-2">
                <img src="#" alt="All Male Shoes"/>
                <button class="btn btn-outline-dark">View All Male Shoes</button>
    <!--            <h5 class="card-title"></h5>-->
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="ml-4 mr-4"/>
    <div>
        <h6 class="text-center mt-4" style=" font-size: 30px; font-family: Forum">Why you should shop with us</h6>
        <div class="card-columns text-center" style="margin-top: 5px; margin-left: 10%; margin-right: 10%;">
        <div class="card border-dark mb-3" style="box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);">
          <div class="card-header">Search - Order - Pay on Delivery</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Easy peezy, all you need is find the product you like, order it and pay on delivery. It's easy and fast.</p>
        </div>
        </div>
        <div class="card border-dark mb-3" style="box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);">
          <div class="card-header">Free Budgeting Consultation</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Here at Kechies, we believe every customer works according to a budget plan and so we help you to find (advice you on) the right product at the right price for you just as it suits your budget for FREE!</p>
            </div>
        </div>
        <div class="card border-dark mb-3" style="box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);" >
          <div class="card-header">Fast Delivery</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Our products are delivered straight to you, anywhere at a very short time</p>
          </div>
        </div>
        </div>
    </div>

<h4 class="mb-5 mt-5 text-center" style="font-family: Forum; font-weight: 400;"># KECHIES EMPIRE</h4>
<!-- Footer -->
</body>
{% endblock %}
